<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Formulario</title>
  </head>
  <body>
  	
    <h1>Ingresar orden</h1>
     	<form th:action="ingresarOrden" th:object="${orden}" method="post">
   <input type="hidden" value="${auto.getIdAuto()}" th:field="*{auto.idAuto}"/>


    <label>Descripcion</label>
    <input type="text" value="${orden.getDescripcion()}" th:field="*{descripcion}" 
    placeholder="Ingrese descripcion"/>
     <label>Fecha de ingreso al sistema</label>
     <input type="text" value="${orden.getFecha()}" th:field="*{fecha}" 
    placeholder="Ingrese fecha de ingreso al sistema"/>
    	      <br/>     
      <input type="submit" value="Enviar"/>
    </form>
  </body>
</html>